# Ignore Android archives (AAR)
*.aar
# Ignore Java archives (JAR)
*.jar
# Ignore Gradle temporary files
.gradle
# Ignore Nix stuff
/.direnv
/result
# Ignore configs that any developer may want to customize for their own
# environment.
/.envrc
/shell.nix
/config.mk
# Ignore temporary files produced by Makefile
.mk.*
/out
/VERSION
/VERSION_INFO
# Ignore F-Droid data that's not meant to be versioned
/fdroid/keystore.*
/fdroid/tmp
/fdroid/repo
/fdroid/archive
