name: test
on: push
env:
  NIXPKGS_ALLOW_UNFREE: 1
jobs:
  test-linux:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: cachix/install-nix-action@v12
    - uses: cachix/cachix-action@v8
      with:
        name: note-maps
        authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
    - run: nix-shell --run "make -e download"
    - run: nix-shell --run "make -e -j lint test"
    - run: nix-build -A web
  test-osx:
    runs-on: macos-11.0
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: cachix/install-nix-action@v12
    - uses: cachix/cachix-action@v8
      with:
        name: note-maps
        authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
    - run: nix-shell --run "make -e download"
    - run: nix-shell --run "make -e -j lint test"
    - run: nix-build -A web
  test:
    runs-on: ubuntu-20.04
    needs: [test-linux, test-osx]
    steps:
    - run: true
